html, body, div, p, table, tr, td, ul, ul li, input, img, h2 ,h3, h4, h5, span, i, article, table, td, tr, select, select option,section, header, footer, textarea, br, hr, dl, dl dd, dl, dt{margin:0; padding: 0}
body{background: #e9ebee; font-family: "Microsoft YaHei","SimSun",sans-serif}
html, body, img{border: 0}
textarea{
  box-sizing: border-box;
}
html{
  height: 100%;
  overflow: hidden;
}
body{
  fone-size: 62.5%;
  height: 100%;
  overflow: hidden;
}
#__nuxt, #__layout{
  height: 100%;
  overflow: hidden;
}
